* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif, Impact, system-ui, -apple-system, sans-serif; }

.blackfont {
  color: #1d1d1f; }

.whitefont {
  color: #f5f5f7; }

body > main {
  width: 100%;
  height: auto; }
  body > main > section.products-1col {
    width: 100%;
    height: 580px; }
    body > main > section.products-1col > div.container {
      width: inherit;
      height: inherit;
      display: flex;
      flex-flow: row nowrap;
      gap: 0px;
      justify-content: center;
      cursor: pointer; }
      body > main > section.products-1col > div.container > a {
        width: inherit;
        height: inherit;
        display: block; }
        body > main > section.products-1col > div.container > a > img {
          width: inherit;
          height: inherit;
          object-fit: cover;
          object-position: center; }
      body > main > section.products-1col > div.container div.titles {
        display: flex;
        flex-flow: column nowrap;
        gap: 10px;
        align-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        overflow: hidden;
        padding-top: 47px;
        margin-top: 44px; }
        body > main > section.products-1col > div.container div.titles > h2 {
          font-size: 50px;
          color: #f5f5f7; }
        body > main > section.products-1col > div.container div.titles > h3 {
          font-size: 25px;
          color: #f5f5f7;
          font-weight: lighter; }
        body > main > section.products-1col > div.container div.titles > div.links {
          width: 100%;
          height: auto;
          display: flex;
          flex-flow: row nowrap;
          gap: 50px;
          justify-content: center; }
          body > main > section.products-1col > div.container div.titles > div.links > a {
            text-decoration: none;
            color: #2997ff;
            font-size: 21px; }
            body > main > section.products-1col > div.container div.titles > div.links > a:hover {
              text-decoration: underline; }
            body > main > section.products-1col > div.container div.titles > div.links > a::after {
              content: "  \203A";
              font-weight: 700; }

@media screen and (min-width: 1200px) {
  body > div.black-bg {
    width: 100%;
    height: 44px;
    background-color: black;
    position: absolute; }
  body > header {
    width: 100%;
    height: 44px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 500;
    transition: 300ms;
    background-color: #161617cc;
    backdrop-filter: saturate(180%) blur(20px); }
    body > header:hover {
      background-color: #161617; }
    body > header > nav {
      width: 65%;
      height: inherit;
      margin: 0 auto; }
      body > header > nav > ul {
        width: 100%;
        height: inherit;
        display: flex;
        flex-flow: row nowrap;
        gap: 0px;
        justify-content: space-between;
        align-items: center;
        list-style: none; }
        body > header > nav > ul > li {
          width: auto;
          height: inherit;
          transition: 3s ease-in-out; }
          body > header > nav > ul > li:hover > div.submenu-container {
            visibility: visible;
            opacity: 1;
            transition: visibility 0s linear 0s, opacity 300ms; }
          body > header > nav > ul > li > a {
            width: auto;
            height: inherit;
            display: flex;
            flex-flow: row nowrap;
            gap: 0px;
            align-items: center;
            text-decoration: none; }
            body > header > nav > ul > li > a :hover {
              color: #ffffff; }
            body > header > nav > ul > li > a > span {
              font-size: 12px;
              font-weight: 400;
              color: #ffffffcc; }
              body > header > nav > ul > li > a > span > i {
                font-size: 14px; }
  body > header > nav > ul > li > div.submenu-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    gap: 0px;
    justify-content: center;
    background-color: #161617;
    position: absolute;
    top: 44px;
    left: 0;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms; }
    body > header > nav > ul > li > div.submenu-container > div.submenu-content {
      width: 100%;
      height: auto;
      max-width: 1024px;
      max-height: calc(100vh - 88px);
      display: flex;
      flex-flow: row nowrap;
      gap: 0px;
      justify-content: flex-start;
      padding: 40px 22px;
      padding-bottom: 84px; }
      body > header > nav > ul > li > div.submenu-container > div.submenu-content h2 {
        color: #6e6e73;
        font-size: 12px;
        font-weight: lighter; }
      body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.titles-col {
        max-width: 50%;
        padding-right: 68px; }
        body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.titles-col > ul {
          list-style: none; }
          body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.titles-col > ul > li {
            margin-inline-start: -11px;
            margin-inline-end: -11px; }
            body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.titles-col > ul > li > a {
              display: inline-block;
              text-decoration: none;
              color: #ffffffcc;
              font-size: 24px;
              line-height: 1.1666666667;
              font-weight: 600;
              letter-spacing: 0.009em;
              padding: 7px 11px;
              padding-top: 9px; }
          body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.titles-col > ul > li:first-of-type {
            margin-top: 6px; }
        body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.titles-col a.subtitle {
          font-size: 12px;
          line-height: 1.3333733333;
          font-weight: 500;
          letter-spacing: -0.01em; }
      body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.items-col {
        max-width: 25%;
        height: auto;
        padding-right: 44px; }
        body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.items-col > ul {
          list-style: none; }
          body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.items-col > ul > li {
            margin-inline-start: -11px;
            margin-inline-end: -11px; }
            body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.items-col > ul > li > a,
            body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.items-col > ul > li a.subtitle {
              display: inline-block;
              text-decoration: none;
              color: #ffffffcc;
              font-size: 12px;
              line-height: 1.3333733333;
              font-weight: 500;
              letter-spacing: -0.01em;
              padding: 7px 11px; }
          body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.items-col > ul > li:first-of-type {
            margin-top: 10px; } }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  body > div.black-bg {
    width: 100%;
    height: 44px;
    background-color: black;
    position: absolute; }
  body > header {
    width: 100%;
    height: 44px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 500;
    transition: 300ms;
    background-color: #161617cc;
    backdrop-filter: saturate(180%) blur(20px); }
    body > header:hover {
      background-color: #161617; }
    body > header > nav {
      width: 65%;
      height: inherit;
      margin: 0 auto; }
      body > header > nav > ul {
        width: 100%;
        height: inherit;
        display: flex;
        flex-flow: row nowrap;
        gap: 0px;
        justify-content: space-between;
        align-items: center;
        list-style: none; }
        body > header > nav > ul > li {
          width: auto;
          height: inherit;
          transition: 3s ease-in-out; }
          body > header > nav > ul > li:hover > div.submenu-container {
            visibility: visible;
            opacity: 1;
            transition: visibility 0s linear 0s, opacity 300ms; }
          body > header > nav > ul > li > a {
            width: auto;
            height: inherit;
            display: flex;
            flex-flow: row nowrap;
            gap: 0px;
            align-items: center;
            text-decoration: none; }
            body > header > nav > ul > li > a :hover {
              color: #ffffff; }
            body > header > nav > ul > li > a > span {
              font-size: 12px;
              font-weight: 400;
              color: #ffffffcc; }
              body > header > nav > ul > li > a > span > i {
                font-size: 14px; }
  body > header > nav > ul > li > div.submenu-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    gap: 0px;
    justify-content: center;
    background-color: #161617;
    position: absolute;
    top: 44px;
    left: 0;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms; }
    body > header > nav > ul > li > div.submenu-container > div.submenu-content {
      width: 100%;
      height: auto;
      max-width: 1024px;
      max-height: calc(100vh - 88px);
      display: flex;
      flex-flow: row nowrap;
      gap: 0px;
      justify-content: flex-start;
      padding: 40px 22px;
      padding-bottom: 84px; }
      body > header > nav > ul > li > div.submenu-container > div.submenu-content h2 {
        color: #6e6e73;
        font-size: 12px;
        font-weight: lighter; }
      body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.titles-col {
        max-width: 50%;
        padding-right: 68px; }
        body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.titles-col > ul {
          list-style: none; }
          body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.titles-col > ul > li {
            margin-inline-start: -11px;
            margin-inline-end: -11px; }
            body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.titles-col > ul > li > a {
              display: inline-block;
              text-decoration: none;
              color: #ffffffcc;
              font-size: 24px;
              line-height: 1.1666666667;
              font-weight: 600;
              letter-spacing: 0.009em;
              padding: 7px 11px;
              padding-top: 9px; }
          body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.titles-col > ul > li:first-of-type {
            margin-top: 6px; }
        body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.titles-col a.subtitle {
          font-size: 12px;
          line-height: 1.3333733333;
          font-weight: 500;
          letter-spacing: -0.01em; }
      body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.items-col {
        max-width: 25%;
        height: auto;
        padding-right: 44px; }
        body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.items-col > ul {
          list-style: none; }
          body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.items-col > ul > li {
            margin-inline-start: -11px;
            margin-inline-end: -11px; }
            body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.items-col > ul > li > a,
            body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.items-col > ul > li a.subtitle {
              display: inline-block;
              text-decoration: none;
              color: #ffffffcc;
              font-size: 12px;
              line-height: 1.3333733333;
              font-weight: 500;
              letter-spacing: -0.01em;
              padding: 7px 11px; }
          body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.items-col > ul > li:first-of-type {
            margin-top: 10px; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  body > div.black-bg {
    width: 100%;
    height: 44px;
    background-color: black;
    position: absolute; }
  body > header {
    width: 100%;
    height: 44px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 500;
    transition: 300ms;
    background-color: #161617cc;
    backdrop-filter: saturate(180%) blur(20px); }
    body > header:hover {
      background-color: #161617; }
    body > header > nav {
      width: 65%;
      height: inherit;
      margin: 0 auto; }
      body > header > nav > ul {
        width: 100%;
        height: inherit;
        display: flex;
        flex-flow: row nowrap;
        gap: 0px;
        justify-content: space-between;
        align-items: center;
        list-style: none; }
        body > header > nav > ul > li {
          width: auto;
          height: inherit;
          transition: 3s ease-in-out; }
          body > header > nav > ul > li:hover > div.submenu-container {
            visibility: visible;
            opacity: 1;
            transition: visibility 0s linear 0s, opacity 300ms; }
          body > header > nav > ul > li > a {
            width: auto;
            height: inherit;
            display: flex;
            flex-flow: row nowrap;
            gap: 0px;
            align-items: center;
            text-decoration: none; }
            body > header > nav > ul > li > a :hover {
              color: #ffffff; }
            body > header > nav > ul > li > a > span {
              font-size: 12px;
              font-weight: 400;
              color: #ffffffcc; }
              body > header > nav > ul > li > a > span > i {
                font-size: 14px; }
  body > header > nav > ul > li > div.submenu-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    gap: 0px;
    justify-content: center;
    background-color: #161617;
    position: absolute;
    top: 44px;
    left: 0;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms; }
    body > header > nav > ul > li > div.submenu-container > div.submenu-content {
      width: 100%;
      height: auto;
      max-width: 1024px;
      max-height: calc(100vh - 88px);
      display: flex;
      flex-flow: row nowrap;
      gap: 0px;
      justify-content: flex-start;
      padding: 40px 22px;
      padding-bottom: 84px; }
      body > header > nav > ul > li > div.submenu-container > div.submenu-content h2 {
        color: #6e6e73;
        font-size: 12px;
        font-weight: lighter; }
      body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.titles-col {
        max-width: 50%;
        padding-right: 68px; }
        body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.titles-col > ul {
          list-style: none; }
          body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.titles-col > ul > li {
            margin-inline-start: -11px;
            margin-inline-end: -11px; }
            body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.titles-col > ul > li > a {
              display: inline-block;
              text-decoration: none;
              color: #ffffffcc;
              font-size: 24px;
              line-height: 1.1666666667;
              font-weight: 600;
              letter-spacing: 0.009em;
              padding: 7px 11px;
              padding-top: 9px; }
          body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.titles-col > ul > li:first-of-type {
            margin-top: 6px; }
        body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.titles-col a.subtitle {
          font-size: 12px;
          line-height: 1.3333733333;
          font-weight: 500;
          letter-spacing: -0.01em; }
      body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.items-col {
        max-width: 25%;
        height: auto;
        padding-right: 44px; }
        body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.items-col > ul {
          list-style: none; }
          body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.items-col > ul > li {
            margin-inline-start: -11px;
            margin-inline-end: -11px; }
            body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.items-col > ul > li > a,
            body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.items-col > ul > li a.subtitle {
              display: inline-block;
              text-decoration: none;
              color: #ffffffcc;
              font-size: 12px;
              line-height: 1.3333733333;
              font-weight: 500;
              letter-spacing: -0.01em;
              padding: 7px 11px; }
          body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.items-col > ul > li:first-of-type {
            margin-top: 10px; } }

@media screen and (min-width: 576px) and (max-width: 767px) {
  body > div.black-bg {
    width: 100%;
    height: 44px;
    background-color: black;
    position: absolute; }
  body > header {
    width: 100%;
    height: 44px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 500;
    transition: 300ms;
    background-color: #161617cc;
    backdrop-filter: saturate(180%) blur(20px); }
    body > header:hover {
      background-color: #161617; }
    body > header > nav {
      width: 65%;
      height: inherit;
      margin: 0 auto; }
      body > header > nav > ul {
        width: 100%;
        height: inherit;
        display: flex;
        flex-flow: row nowrap;
        gap: 0px;
        justify-content: space-between;
        align-items: center;
        list-style: none; }
        body > header > nav > ul > li {
          width: auto;
          height: inherit;
          transition: 3s ease-in-out; }
          body > header > nav > ul > li:hover > div.submenu-container {
            visibility: visible;
            opacity: 1;
            transition: visibility 0s linear 0s, opacity 300ms; }
          body > header > nav > ul > li > a {
            width: auto;
            height: inherit;
            display: flex;
            flex-flow: row nowrap;
            gap: 0px;
            align-items: center;
            text-decoration: none; }
            body > header > nav > ul > li > a :hover {
              color: #ffffff; }
            body > header > nav > ul > li > a > span {
              font-size: 12px;
              font-weight: 400;
              color: #ffffffcc; }
              body > header > nav > ul > li > a > span > i {
                font-size: 14px; }
  body > header > nav > ul > li > div.submenu-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    gap: 0px;
    justify-content: center;
    background-color: #161617;
    position: absolute;
    top: 44px;
    left: 0;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms; }
    body > header > nav > ul > li > div.submenu-container > div.submenu-content {
      width: 100%;
      height: auto;
      max-width: 1024px;
      max-height: calc(100vh - 88px);
      display: flex;
      flex-flow: row nowrap;
      gap: 0px;
      justify-content: flex-start;
      padding: 40px 22px;
      padding-bottom: 84px; }
      body > header > nav > ul > li > div.submenu-container > div.submenu-content h2 {
        color: #6e6e73;
        font-size: 12px;
        font-weight: lighter; }
      body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.titles-col {
        max-width: 50%;
        padding-right: 68px; }
        body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.titles-col > ul {
          list-style: none; }
          body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.titles-col > ul > li {
            margin-inline-start: -11px;
            margin-inline-end: -11px; }
            body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.titles-col > ul > li > a {
              display: inline-block;
              text-decoration: none;
              color: #ffffffcc;
              font-size: 24px;
              line-height: 1.1666666667;
              font-weight: 600;
              letter-spacing: 0.009em;
              padding: 7px 11px;
              padding-top: 9px; }
          body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.titles-col > ul > li:first-of-type {
            margin-top: 6px; }
        body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.titles-col a.subtitle {
          font-size: 12px;
          line-height: 1.3333733333;
          font-weight: 500;
          letter-spacing: -0.01em; }
      body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.items-col {
        max-width: 25%;
        height: auto;
        padding-right: 44px; }
        body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.items-col > ul {
          list-style: none; }
          body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.items-col > ul > li {
            margin-inline-start: -11px;
            margin-inline-end: -11px; }
            body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.items-col > ul > li > a,
            body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.items-col > ul > li a.subtitle {
              display: inline-block;
              text-decoration: none;
              color: #ffffffcc;
              font-size: 12px;
              line-height: 1.3333733333;
              font-weight: 500;
              letter-spacing: -0.01em;
              padding: 7px 11px; }
          body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.items-col > ul > li:first-of-type {
            margin-top: 10px; } }

@media screen and (max-width: 575px) {
  body > div.black-bg {
    width: 100%;
    height: 44px;
    background-color: black;
    position: absolute; }
  body > header {
    width: 100%;
    height: 44px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 500;
    transition: 300ms;
    background-color: #161617cc;
    backdrop-filter: saturate(180%) blur(20px); }
    body > header:hover {
      background-color: #161617; }
    body > header > nav {
      width: 65%;
      height: inherit;
      margin: 0 auto; }
      body > header > nav > ul {
        width: 100%;
        height: inherit;
        display: flex;
        flex-flow: row nowrap;
        gap: 0px;
        justify-content: space-between;
        align-items: center;
        list-style: none; }
        body > header > nav > ul > li {
          width: auto;
          height: inherit;
          transition: 3s ease-in-out; }
          body > header > nav > ul > li:hover > div.submenu-container {
            visibility: visible;
            opacity: 1;
            transition: visibility 0s linear 0s, opacity 300ms; }
          body > header > nav > ul > li > a {
            width: auto;
            height: inherit;
            display: flex;
            flex-flow: row nowrap;
            gap: 0px;
            align-items: center;
            text-decoration: none; }
            body > header > nav > ul > li > a :hover {
              color: #ffffff; }
            body > header > nav > ul > li > a > span {
              font-size: 12px;
              font-weight: 400;
              color: #ffffffcc; }
              body > header > nav > ul > li > a > span > i {
                font-size: 14px; }
  body > header > nav > ul > li > div.submenu-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    gap: 0px;
    justify-content: center;
    background-color: #161617;
    position: absolute;
    top: 44px;
    left: 0;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms; }
    body > header > nav > ul > li > div.submenu-container > div.submenu-content {
      width: 100%;
      height: auto;
      max-width: 1024px;
      max-height: calc(100vh - 88px);
      display: flex;
      flex-flow: row nowrap;
      gap: 0px;
      justify-content: flex-start;
      padding: 40px 22px;
      padding-bottom: 84px; }
      body > header > nav > ul > li > div.submenu-container > div.submenu-content h2 {
        color: #6e6e73;
        font-size: 12px;
        font-weight: lighter; }
      body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.titles-col {
        max-width: 50%;
        padding-right: 68px; }
        body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.titles-col > ul {
          list-style: none; }
          body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.titles-col > ul > li {
            margin-inline-start: -11px;
            margin-inline-end: -11px; }
            body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.titles-col > ul > li > a {
              display: inline-block;
              text-decoration: none;
              color: #ffffffcc;
              font-size: 24px;
              line-height: 1.1666666667;
              font-weight: 600;
              letter-spacing: 0.009em;
              padding: 7px 11px;
              padding-top: 9px; }
          body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.titles-col > ul > li:first-of-type {
            margin-top: 6px; }
        body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.titles-col a.subtitle {
          font-size: 12px;
          line-height: 1.3333733333;
          font-weight: 500;
          letter-spacing: -0.01em; }
      body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.items-col {
        max-width: 25%;
        height: auto;
        padding-right: 44px; }
        body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.items-col > ul {
          list-style: none; }
          body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.items-col > ul > li {
            margin-inline-start: -11px;
            margin-inline-end: -11px; }
            body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.items-col > ul > li > a,
            body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.items-col > ul > li a.subtitle {
              display: inline-block;
              text-decoration: none;
              color: #ffffffcc;
              font-size: 12px;
              line-height: 1.3333733333;
              font-weight: 500;
              letter-spacing: -0.01em;
              padding: 7px 11px; }
          body > header > nav > ul > li > div.submenu-container > div.submenu-content > div.items-col > ul > li:first-of-type {
            margin-top: 10px; } }
