// header modules
@mixin headerModule {
  > div.black-bg {
    @include nav-background;
  }
  > header {
    @include dimension(100%, 44px);
    @include nav-position;
    @include nav-hover;

    > nav {
      @include dimension(65%, inherit);
      @include center;
      > ul {
        @include dimension(100%, inherit);
        @include flex-row;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        @include menu-items;
      }
    }
  }
}

@mixin submenuModule {
  > header {
    > nav {
      > ul {
        > li {
          > div.submenu-container {
            @include dimension(100%, auto);
            @include flex-row;
            justify-content: center;
            background-color: $nav-hbgcolor;
            @include submenu-position;
            @include submenu-hide;
            > div.submenu-content {
              @include dimension(100%, auto);
              max-width: 1024px;
              max-height: calc(100vh - 88px);
              @include flex-row;
              justify-content: flex-start;
              padding: 40px 22px;
              padding-bottom: 84px;

              h2 {
                color: $nav-h2fontcolor;
                font-size: 12px;
                font-weight: lighter;
              }
              > div.titles-col {
                @include submenu-titles;
              }
              > div.items-col {
                @include submenu-items;
              }
            }
          }
        }
      }
    }
  }
}

// wrapper modules
@mixin productsSectionModule($font:25px) {
  @include dimension(100%, 580px);
  margin-bottom: 12px;
  > div.container {
    @include dimension(inherit, inherit);
    @include flex-row;
    justify-content: center;
    position: relative;
    cursor: pointer;
    > a {
      @include dimension(inherit, inherit);
      display: block;
      > img {
        @include dimension(inherit, inherit);
        object-fit: cover;
        object-position: center;
      }
    }
    div.titles {
      @include product-titles($font);
      > span {
        color: #ab1213;
        font-weight: 600;
        margin-top: -5px;
      }
      > div.links {
        @include product-links($font);
      }
    }
  }
}

// swiper module
@mixin swiperModule {
  @include dimension(100%, 705px);
  .mySwiper {
    @include dimension(100%, 100%);
  }
  .swiper-wrapper {
    @include dimension(100%, 650px);
    @include flex-row;
  }
  .swiper-slide {
    @include dimension(80vw, 670px);
    text-align: center;
    font-size: 18px;
    background: #fff;
    @include flex-row;
    justify-content: center;
    align-items: flex-start;
    > a {
      display: block;
      @include dimension(100%, 100%);
      > img {
        display: block;
        @include dimension(100%, 100%);
        object-fit: cover;
      }
    }
  }
}