// global functions
@mixin dimension($width, $height) {
  width: $width;
  height: $height;
}
@mixin center {
  margin: 0 auto;
}
@mixin flex-row($gap: 0px) {
  display: flex;
  flex-flow: row nowrap;
  gap: $gap;
}
@mixin flex-col($gap: 0px) {
  display: flex;
  flex-flow: column nowrap;
  gap: $gap;
}
@mixin border-bottom {
  border-bottom: solid 0.8px $footer-bordercolor;
}
@mixin border-right($color: $footer-bordercolor) {
  border-right: solid 0.8px $color;
}
@mixin margin($top: 0, $right: 0, $bottom: 0, $left: 0) {
  margin-top: $top;
  margin-bottom: $bottom;
  margin-right: $right;
  margin-left: $left;
}
@mixin padding($top: 0, $right: 0, $bottom: 0, $left:0) {
  padding-top: $top;
  padding-bottom: $bottom;
  padding-right: $right;
  padding-left: $left;
}
// header functions
@mixin nav-background {
  width: 100%;
  height: 44px;
  background-color: black;
  position: absolute;
}
@mixin nav-position {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 500;
}
@mixin nav-hover {
  transition: 300ms;
  background-color: $nav-bgcolor;
  backdrop-filter: saturate(180%) blur(20px);
  &:hover {
    background-color: $nav-hbgcolor;
  }
}
@mixin submenu-position {
  position: absolute;
  top: 44px;
  left: 0;
  overflow: auto;
}
@mixin submenu-hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
@mixin submenu-visible {
  transition: 3s ease-in-out;
  &:hover > div.submenu-container {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
  }
}
@mixin menu-items {
  > li {
    @include dimension(auto, inherit);
    @include submenu-visible;
    > a {
      @include dimension(auto, inherit);
      @include flex-row;
      align-items: center;
      text-decoration: none;
      :hover {
        color: $nav-hfontcolor;
      }
      > span {
        font-size: 12px;
        font-weight: 400;
        color: $nav-fontcolor;
        > i {
          font-size: 14px;
        }
      }
    }
  }
}
@mixin submenu-titles {
  max-width: 50%;
  padding-right: 68px;
  > ul {
    list-style: none;
    > li {
      margin-inline-start: -11px;
      margin-inline-end: -11px;
      > a {
        display: inline-block;
        text-decoration: none;
        color: $nav-fontcolor;
        font-size: 24px;
        line-height: 1.1666666667;
        font-weight: 600;
        letter-spacing: 0.009em;
        padding: 7px 11px;
        padding-top: 9px;
      }
    }
    > li:first-of-type {
      margin-top: 6px;
    }
  }
  a.subtitle {
    font-size: 12px;
    line-height: 1.3333733333;
    font-weight: 500;
    letter-spacing: -0.01em;
  }
}
@mixin submenu-items {
  max-width: 25%;
  height: auto;
  padding-right: 44px;
  > ul {
    list-style: none;
    > li {
      margin-inline-start: -11px;
      margin-inline-end: -11px;
      > a,
      a.subtitle {
        display: inline-block;
        text-decoration: none;
        color: $nav-fontcolor;
        font-size: 12px;
        line-height: 1.3333733333;
        font-weight: 500;
        letter-spacing: -0.01em;
        padding: 7px 11px;
      }
    }
    > li:first-of-type {
      margin-top: 10px;
    }
  }
}

// wrapper functions
@mixin suptext-position {
  position: relative;
  vertical-align: baseline;
  font-size: 12px;
  bottom: -8px;
  left: -5px;
}
@mixin product-titles($fontsize: 25px) {
  @include flex-col(10px);
  align-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  overflow: hidden;
  padding-top: 47px;
  > h2 {
    font-size: #{$fontsize * 2};
    color: $fontcolor-light;
    text-align: center;
    i {
      vertical-align: baseline;
    }
  }
  > h3 {
    font-size: $fontsize;
    color: $fontcolor-light;
    font-weight: lighter;
    text-align: center;
    @include flex-row(5px);
    align-items: center;
    > sup {
      @include suptext-position;
    }
  }
  > p {
    font-size: 17px;
    color: $fontcolor-grey;
  }
}
@mixin product-links($fontsize: 25px) {
  @include dimension(100%, auto);
  @include flex-row(50px);
  justify-content: center;
  > a {
    text-decoration: none;
    color: $fontcolor-links;
    font-size: #{$fontsize * 0.9};
    &:hover {
      text-decoration: underline;
    }
    &::after {
      content: "  \203A";
      font-weight: 700;
    }
  }
}


// foote functions
@mixin footer-linkformat {
  > a {
    display: block;
    height: inherit;
    color: $footer-linkcolor;
    font-size: 12px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

@mixin footer-textformat {
  font-size: 12px;
  color: $footer-fontcolor;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -0.01em;
}

