// header modules
@mixin headerModule($nav-width) {
  > div.black-bg {
    @include nav-background;
  }
  > header {
    @include dimension(100%, 44px);
    @include nav-position;
    @include nav-hover;

    > nav {
      @include dimension($nav-width, inherit);
      @include center;
      > ul {
        @include dimension(100%, inherit);
        @include flex-row;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        > li {
          @include dimension(auto, inherit);
          @include submenu-visible;
          a {
            @include dimension(auto, inherit);
            @include flex-row;
            align-items: center;
            @include menu-items;
          }
        }
      }
    }
  }
}

@mixin submenuModule {
  > header {
    > nav {
      > ul {
        > li {
          > div.submenu-container {
            @include dimension(100%, auto);
            @include flex-row;
            justify-content: center;
            background-color: $nav-hbgcolor;
            @include submenu-position;
            @include submenu-hide;
            > div.submenu-content {
              @include dimension(100%, auto);
              max-width: 1024px;
              max-height: calc(100vh - 88px);
              @include flex-row;
              justify-content: flex-start;
              padding: 40px 22px;
              padding-bottom: 84px;

              h2 {
                color: $nav-h2fontcolor;
                font-size: 12px;
                font-weight: lighter;
              }
              > div.titles-col {
                @include submenu-titles;
              }
              > div.items-col {
                @include submenu-items;
              }
            }
          }
        }
      }
    }
  }
}

@mixin smallsizeheaderModule {
  > div.black-bg {
    @include nav-background;
  }
  > header {
    #show,
    #close {
      display: none;
    }
    @include dimension(100%, 44px);
    @include nav-position;
    @include nav-hover;
    > nav {
      @include dimension(inherit, inherit);
      > ul {
        @include dimension(inherit, inherit);
        > li {
          @include dimension(auto, inherit);
          @include submenu-visible;
          a,
          label {
            @include dimension(auto, inherit);
            @include flex-row;
            align-items: center;
            @include menu-items;
          }
        }
        font-size: 14px;
        @include padding(5px, 30px, 5px, 20px);
        @include flex-row(30px);
        justify-content: space-between;
        align-items: center;
        align-content: center;
        > li {
          display: none;
        }
        li.size-s,
        li.small-format {
          display: block;
        }
        > li.logo {
          flex-basis: 80%;
        }
        > li.menu {
          div.menu-modal {
            @include fadein-animation;
            @include dimension(100vw, 100vh);
            position: absolute;
            top: 0;
            left: 0;
            background-color: $nav-hbgcolor;
            z-index: 555;
            display: none;
            overflow: auto;
            > div.close-menu {
              @include dimension(100%, 44px);
              @include flex-row;
              @include padding(5px, 30px);
              justify-content: flex-end;
              > label {
                @include menu-items;
              }
            }
            > ul {
              @include flex-col;
              > li {
                @include dimension(100%, 54px);
                > a {
                  @include flex-row;
                  justify-content: space-between;
                  @include dimension(inherit, inherit);
                  @include padding(3px, 30px, 4px, 48px);
                  @include menu-items;
                  > span {
                    font-size: 28px;
                    font-weight: 700;
                    > i {
                      display: none;
                    }
                  }
                }
                &:hover {
                  i {
                    display: block;
                  }
                }
              }
            }
          }
          #show:checked ~ div.menu-modal {
            display: block;
          }
        }
      }
    }
  }
}
// wrapper modules
@mixin productsSectionModule($font: 25px) {
  @include dimension(100%, 580px);
  margin-bottom: 12px;
  > div.container {
    @include dimension(inherit, inherit);
    @include flex-row;
    justify-content: center;
    position: relative;
    cursor: pointer;
    > a {
      @include dimension(inherit, inherit);
      display: block;
      > img {
        @include dimension(inherit, inherit);
        object-fit: cover;
        object-position: center;
      }
    }
    > a.size-s {
      position: absolute;
      top: 0;
      left: 0;
    }
    div.titles {
      @include product-titles($font);
      > span {
        color: #ab1213;
        font-weight: 600;
        margin-top: -5px;
      }
      > div.links {
        @include product-links($font);
      }
    }
  }
}
@mixin productsSectionModule-xs {
  div.container {
    @include dimension(100%, 500px);
    margin-bottom: 12px;
    padding-bottom: 12px;
    position: relative;
    @include flex-row;
    justify-content: center;
    > a {
      display: block;
      @include dimension(inherit, inherit);
      > img {
        @include dimension(inherit, inherit);
        object-fit: cover;
        object-position: center;
      }
    }
    > a.size-s {
      position: absolute;
      top: 0;
      left: 0;
    }
    div.titles {
      @include product-titles(20px);
      > span {
        color: #ab1213;
        font-weight: 600;
        margin-top: -5px;
      }
      > div.links {
        @include product-links(18px);
      }
    }
    .Products-titlebottom {
      top: 290px !important;
    }
  }
}
// swiper module
@mixin swiperModule {
  @include dimension(100%, auto);
  > div.mySwiper {
    > div.swiper-wrapper {
      @include dimension(100%, auto);
      @include flex-row;

      > div.swiper-slide {
        @include dimension(80vw, auto);
        margin-bottom: 10px;
        text-align: center;
        font-size: 18px;
        background: #fff;
        @include flex-row;
        justify-content: center;
        align-items: flex-start;
        > a {
          display: block;
          @include dimension(100%, 100%);
          > img {
            display: block;
            @include dimension(100%, 100%);
            object-fit: contain;
          }
          img.size-s {
            display: none;
          }
          > div.info {
            @include dimension(85%, auto);
            @include flex-row(30px);
            align-content: baseline;
            align-items: baseline;
            position: absolute;
            bottom: 7%;
            left: 5%;
            @include swiper-info-btn;
            @include swiper-info-text;
          }
        }
      }
    }
    .swiper-pagination {
      display: block;
      @include dimension(100%, 20px);
    }
    .swiper-button-next,
    .swiper-button-prev {
      visibility: hidden;
    }
  }
}

@mixin swiperModule-s-xs {
  > section.size-regular {
    display: none;
  }
  > section.swiper-s {
    margin-bottom: 12px;
    @include dimension(100%, auto);
    > div.mySwiper-s {
      > div.swiper-wrapper {
        @include dimension(100%, auto);
        @include flex-row;
        > div.swiper-slide {
          @include dimension(auto, 500px);
          text-align: center;
          font-size: 18px;
          background: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          > a {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            @include dimension(inherit, inherit);
            > img {
              // display: block;
              @include dimension(100%, 500px);
              object-fit: cover;
            }
            > div.info {
              @include dimension(90%, auto);
              @include flex-col(5px);
              align-content: center;
              align-items: center;
              justify-content: center;
              position: absolute;
              bottom: 7%;
              left: 5%;
              > p {
                text-align: center !important;
              }
              @include swiper-info-btn;
              @include swiper-info-text;
            }
          }
        }
      }
    }
  }
}

// footer modules
@mixin footerModule($footer-width: 100%) {
  background-color: $footer-bgcolor;
  @include flex-row;
  justify-content: center;
  > div.footer-container {
    @include dimension($footer-width, auto);
    @include padding(0, 22px, 0, 22px);
    @include footer-description;
    > nav {
      @include flex-row;
      > section.directory-col {
        @include padding(20px);
        @include dimension(20%, 100%);
        > div.directory {
          > h3 {
            color: $footer-dirtitlecolor;
            font-size: 12px;
            @include margin(0, 0, 10px);
            @include dimension(auto, 16px);
          }
          > ul {
            @include margin(0, 20px);
            list-style: none;
            > li {
              @include margin(0, 0, 10px);
              @include dimension(auto, auto);
              > a {
                @include footer-linkformat;
              }
            }
          }
        }
      }
    }
    > section.copyright {
      @include flex-row(0, wrap);
      @include padding(34px, 0, 21px);
      > div.shop-ways {
        @include margin(0, 0, 7px);
        @include padding(0, 0, 8px);
        font-size: 12px;
        color: $footer-fontcolor;
        > a {
          color: $fontcolor-links;
          font-size: 12px;
        }
      }
      > div.rights-container {
        width: 100%;
        @include flex-row(0, wrap);
        justify-content: space-between;
        @include border-top;
        > div.rights {
          // @include border-top;
          @include padding(5px);
          @include flex-row(0, wrap);
          align-items: baseline;
          position: relative;
          top: -3px;
          z-index: 1;
          > p {
            display: inline-block;
            @include margin(5px, 30px);
            font-size: 12px;
            color: $footer-fontcolor;
          }
          > ul {
            @include flex-row;
            @include dimension(100%, 24px);
            list-style: none;
            > li {
              white-space: nowrap;
              > a {
                @include footer-linkformat;
              }
              @include margin(5px, 7px);
              > a {
                @include padding(0, 10px);
                @include border-right($footer-linkcolor);
              }
            }
          }
        }
        > div.location {
          > a {
            @include footer-linkformat;
          }
          @include padding(7px);
          float: right;
          z-index: 2;
          white-space: nowrap;
          text-align: right;
        }
      }
    }
  }
}

@mixin smallsizefooterModule {
  background-color: $footer-bgcolor;
  @include flex-row;
  justify-content: center;
  > div.footer-container {
    @include dimension(100%, auto);
    @include padding(0, 22px, 0, 22px);
    @include footer-description;
    > section.description {
      margin-bottom: 20px;
    }
    > nav {
      @include flex-col;
      > section.directory-col {
        > div.directory {
          padding: 0;
          @include dimension(100%, 37px);
          @include border-bottom;
          overflow: hidden;
          h3,
          a,
          i {
            @include footer-textformat;
            line-height: 37px;
          }
          > h3 {
            @include flex-row;
            justify-content: space-between;
          }
        }
      }
    }
    > section.copyright {
      @include flex-row(0, wrap);
      @include padding(20px, 0, 21px);
      > div.shop-ways {
        @include margin(0, 0, 7px);
        @include padding(0, 0, 8px);
        @include dimension(100%, 25px);
        font-size: 12px;
        color: $footer-fontcolor;
        > a {
          color: $fontcolor-links;
          font-size: 12px;
        }
      }
      > div.rights-container {
        width: 100%;
        @include flex-col;
        justify-content: space-between;
        > div.rights {
          &::before {
            content: "United States";
            color: $footer-linkcolor;
            font-size: 12px;
            padding-bottom: 10px;
          }
          // @include border-top;
          width: 100%;
          @include padding(5px);
          @include flex-col(5px);
          align-items: baseline;
          position: relative;
          top: -3px;
          z-index: 1;
          > p {
            display: inline-block;
            @include margin(5px, 30px);
            font-size: 12px;
            color: $footer-fontcolor;
          }
          > ul {
            @include flex-row(0, wrap);
            row-gap: 5px;
            list-style: none;
            > li {
              > a {
                @include footer-linkformat;
              }
              @include margin(5px, 7px);
              > a {
                @include padding(0, 10px);
                @include border-right($footer-linkcolor);
              }
            }
          }
        }
        > div.location {
          display: none;
        }
      }
    }
  }
}
