* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif, Impact, system-ui, -apple-system,
    sans-serif;
  // letter-spacing: 0.02px;
}
