// media query
  $xl: 1200px;
  $lg: 992px;
  $md: 768px;
  $sm: 576px;

// nav colors
$nav-fontcolor: #ffffffcc;
$nav-hfontcolor: #ffffff;
$nav-bgcolor: #161617cc;
$nav-hbgcolor: rgb(22, 22, 23);
$nav-h2fontcolor: rgb(110, 110, 115);

// wrapper colors
$fontcolor-light: #f5f5f7;
$fontcolor-dark: #1d1d1f;
$fontcolor-links: #2997ff;
$fontcolor-grey: #6e6e73;

// footer colors
$footer-bgcolor: #f5f5f7;
$footer-fontcolor: #6e6e73;
$footer-linkcolor: #424245;
$footer-bordercolor: #d2d2d7;
$footer-dirtitlecolor: #3c3c3c;
