// nav colors
$nav-fontcolor: #ffffffcc;
$nav-hfontcolor: #ffffff;
$nav-bgcolor: #161617cc;
$nav-hbgcolor: rgb(22, 22, 23);
$nav-h2fontcolor: rgb(110, 110, 115);

// wrapper colors
$fontcolor-light: #f5f5f7;
$fontcolor-dark: #1d1d1f;
$fontcolor-links: #2997ff;