body {
  > main {
    width: 100%;
    > section {
      width: 100%;
      height: 580px;
      > div.container {
        width: inherit;
        height: inherit;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        cursor: pointer;
        > a {
          display: block;
          width: inherit;
          height: inherit;
          > img {
            width: inherit;
            height: inherit;
            object-fit: cover;
            object-position: center;
          }
        }
        div.titles {
          display: flex;
          flex-flow: column wrap;
          gap: 10px;
          align-content: center;
          align-items: center;
          position: absolute;
          top: 0;
          overflow: hidden;
          padding-top: 47px;
          margin-top: 44px;
          > h2 {
            font-size: 50px;
            color: $fontcolor-light;
          }
          > h3 {
            font-size: 25px;
            color: $fontcolor-light;
            font-weight: lighter;
          }
          > div.links {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            gap: 10px;
            > a {
              text-decoration: none;
              color: $fontcolor-links;
              font-size: 21px;
              &:hover {
                text-decoration: underline;
              }
              &::after {
                content: "  \203A";
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }
}
